.design-system-container{
    height: 720px;
    width: 816px;
    border: 1px solid #EAEAEB;
    margin-top: 68px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.design-system-title{
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #EAEAEB;
}

.design-system-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEB;
}

.design-system-btn{
    font-size: 16px;
    background-color: white;
    color: #c2c2c2;
    border: none;
}

.design-system-btn-selected{
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    border-bottom: 3px solid black;
    padding: 20px;
}

.design-system-search-input{
    height: 28px;
    width: 200px;
    margin: 13px;
    padding-left: 20px;
    border: 1px solid #EAEAEB;
    border-radius: 10px;
}