.parent-container{
display: flex;
justify-content: center;
}

.main-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.main-content {
  padding: 20px;
  background-color: #2B3136;
}
